//------- Solar Animations -------
@import "mixin";
$moving-attributes: up, down, right, left, up-left, up-right, down-left, down-right;

// Default Fade Animations
@keyframes solar-fade {
  from {
    opacity: 0;
  }
  to   {
    opacity: 1;
  }
}

[data-solar] {
  opacity: 0;
}

[data-solar].solar-animated {
  animation-name: solar-fade;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  // Fade Animations
  &[data-solar^='fade'] {
    @each $fade in $moving-attributes {
      &[data-solar=fade-#{$fade}] {
        @include animation-move("fade-#{$fade}");
      }
    }
  }

  // Slide Animations
  &[data-solar^='slide'] {
    @each $slide in $moving-attributes {
      &[data-solar=slide-#{$slide}] {
        @include animation-move("slide-#{$slide}");
      }
    }
  }

  // filp Animations
  &[data-solar^='flip'] {
    @each $flip in $moving-attributes {
      &[data-solar=flip-#{$flip}] {
        @include animation-flip("flip-#{$flip}");
      }
    }
  }

  //Zoom Animations
  &[data-solar^='zoom'] {
    transform-origin: center;
    $zoom-attributes: in, out;

    @each $zoom in $zoom-attributes {
      &[data-solar=zoom-#{$zoom}] {
        @include animation-move("zoom-#{$zoom}");
      }
      @each $move in $moving-attributes {
        &[data-solar=zoom-#{$zoom}-#{$move}] {
          @include animation-move("zoom-#{$zoom}-#{$move}");
        }
      }
    }
  }
}
