//------- Solar Animations -------
[data-solar] {
  opacity: 0;
}

[data-solar].solar-animated {
  animation-name: solar-fade;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  // Fade Animations
  &[data-solar=fade-up] {
    animation-name: solar-fade-up;
  }

  &[data-solar=fade-right] {
    animation-name: solar-fade-right;
  }

  &[data-solar=fade-left] {
    animation-name: solar-fade-left;
  }

  // Slide Animations
  &[data-solar=slide-up] {
    animation-name: solar-slide-up;
    animation-duration: 1s;
  }
}

// Fade Animations
@keyframes solar-fade {
  from {
    opacity: 0;
  }
  to   {
    opacity: 1;
  }
}

@keyframes solar-fade-up {
  from {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  to   {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes solar-fade-right {
  from {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  to   {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes solar-fade-left {
  from {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  to   {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

// Slide Animations
@keyframes solar-slide-up {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 1;
  }
  to   {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
