$moving-distance: 90%;
$rotating-angle: 90deg;
$zoom-scale: 1.6;

@function set-distance($name) {
  $fromX: 0px;
  $fromY: 0px;
  @if (str-index($name, up)) {
    $fromY: $moving-distance;
  }
  @if (str-index($name, down)) {
    $fromY: -$moving-distance;
  }
  @if (str-index($name, left)) {
    $fromX: $moving-distance;
  }
  @if (str-index($name, right)) {
    $fromX: -$moving-distance;
  }
  @return ($fromX, $fromY);
}


@function set-flip($name) {
  $flipX: 0deg;
  $flipY: 0deg;
  @if (str-index($name, up)) {
    $flipY: $rotating-angle;
  }
  @if (str-index($name, down)) {
    $flipY: -$rotating-angle;
  }
  @if (str-index($name, left)) {
    $flipX: $rotating-angle;
  }
  @if (str-index($name, right)) {
    $flipX: -$rotating-angle;
  }
  @return ($flipX, $flipY);
}


// Fade Animations
@mixin animation-move($name) {
  $opacity: 0;
  $scale: 1;
  @if (str-index($name, slide)) {
    $opacity: 1;
  }
  @else {
    $opacity: 0;
  }
  @if (str-index($name, zoom)) {
    @if (str-index($name, out)) {
      $scale: $zoom-scale;
    }
    @else if (str-index($name, in)) {
      $scale: 0;
    }
  }

  animation-name: solar-#{$name};
  @keyframes solar-#{$name} {
    0% {
      transform: translate3d(set-distance($name), 0) scale($scale);
      opacity: $opacity;
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
      opacity: 1; 
    }
  }
}


//Flip Animations
@mixin animation-flip($name) {

  animation-name: solar-#{$name};
  @keyframes solar-#{$name} {
    0% {
      transform: perspective(2500px) rotate(set-flip($name), 0deg);
      opacity: 1;
    }
    100% {
      transform: perspective(2500px) rotate(0deg, 0deg, 0deg);
      opacity: 1;
    }
  }
}

